body {
  font-size: 1rem;
  color: #fff;
}

hr {
  border-top: 1px solid rgba(255,255,255,.2);
  margin: 0;
}

form {
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
}

footer {
  background: rgba(0, 0, 0, 0.5);
  margin-top: 0.5rem;
  text-align: center;
  padding: 0.5rem;
  font-size: 12px;
}

.fa.fa-code {
  position: relative;
  top: 1px;
  font-size: 14px;
  font-weight: bold;
  color: #f05514;
}

.fa.fa-heart {
  position: relative;
  top: 1px;
  font-size: 12px;
  font-weight: bold;
  color: #f05514;
}

.fa.fa-bolt {
  position: relative;
  top: 1px;
  font-size: 14px;
  font-weight: bold;
  color: #f05514;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

.background {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index:-1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.8;
}

.container {
  max-width: 500px;
}

/*
 * CURRENT
 */

.current {
  background: rgba(0, 0, 0, 0.5);
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.location {
  font-size: 2.5rem;
}

.visual {
  margin-right: 1rem;
}

.visual .weather-icon-0 {
  margin-top: 20px;
}

.visual .temp {
  font-size: 4rem;
}

.visual .temp-scale {
  font-size: 1.5rem;
  margin-top: 15px;
}

.description .humidity::before {
  content: "Humidity: ";
}

.description .pressure::before {
  content: "Pressure: ";
}

.description .wind::before {
  content: "Wind: ";
}

.description .real-feel::before {
  content: "RealFeel®: ";
}

.description .visibility::before {
  content: "Visibility: ";
}

.description .cloud-cover::before {
  content: "Cloud cover: ";
}

.description .uv-index::before {
  content: "UV-index: ";
}

/*
 * SEVEN DAY
 */

.seven-day {
  background: rgba(0, 0, 0, 0.5);
  padding: 0 0.5rem;
}

.seven-day-fc {
  padding: 0.5rem 0;
}

.temp-high {
  font-weight: bold;
}

@media only screen and (max-width: 443px) {
  .description {
    float: left !important;
    margin-top: 0 !important;
  }
}