body {
  font-size: 0.8em;
  color: #fff;
  line-height: 1.5;
}

hr {
  border-top: 1px solid rgba(255,255,255,.2);
  margin: 0;
}

.location {
  font-size: 2.5rem;
  text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

.date, .condition {
  text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

.current {
  text-shadow: 1px 1px 1px rgba(0,0,0,.5);
  margin: 0.5rem 0;
}

.background {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index:-1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.8;
}

/*
 * VISUAL
 */

.visual {
  margin-right: 1rem;
}

.visual .weather-icon-0 {
  margin-top: 20px;
}

.visual .temp {
  font-size: 2.5rem;
}

.visual .temp-scale {
  margin-top: 15px;
}



/*
 * DESCRIPTION
 */

.description .humidity::before {
  content: "Humidity: ";
}

.description .pressure::before {
  content: "Pressure: ";
}

.description .wind::before {
  content: "Wind: ";
}

.description .feels-like::before {
  content: "Feels-like: ";
}

.description .visibility::before {
  content: "Visibility: ";
}

/*
 * SEVEN DAY
 */

.seven-day {
  background: rgba(0, 0, 0, 0.5);
  padding: 0 0.5rem;
}

.seven-day-fc {
  padding: 0.5rem 0;
}
